[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

django = "*"
django-cors-headers = "*"
django-extensions = "*"
djangorestframework = "*"
gunicorn = "*"
